{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<main>
        <div class="hero-box">
            <div class="hero-text">
                <h1>Welcome to our Task Management System</h1>
                <p>This is the homepage of your Task Management System. Here, an admin can manage users and tasks.</p>
                <p>Use the navigation links to access different functionalities of the system.</p>
            </div>
        </div>
    </main>

    {% endblock %}

</body>
</html>
